body {
  background-color: black;
}

/* Header - Footer */

.img-header,
.img-footer {
  height: 50px;
}

/* Main */

main {
  margin: 100px 0 100px 0;
}
@media (min-width: 1024px) {
  main {
    margin: 60px 0 60px 0;
  }
}

/* Title */

@media (min-width: 375px) {
  .container-title-img {
    display: flex;
  }
}
@media (min-width: 672px) {
  .container-title-img {
    display: flex;
    justify-content: center;
  }
}

.container-title-img__title {
  font-family: "Arvo", serif;
  font-size: 36px;
  max-width: 430px;
}
@media (min-width: 672px) {
  .container-title-img__title {
    font-size: 48px;
  }
}
@media (min-width: 1024px) {
  .container-title-img__title {
    font-size: 70px;
    margin-right: 60px;
    max-width: 500px;
  }
}

.container-title-img__title > span {
  color: #ff7a00;
}

.container-title-img__img-title {
  width: 200px;
  height: 200px;
}
@media (min-width: 672px) {
  .container-title-img__img-title {
    width: 250px;
    height: 250px;
  }
}
@media (min-width: 1024px) {
  .container-title-img__img-title {
    width: 350px;
    height: 350px;
  }
}

/* Form */

@media (min-width: 1024px) {
  .container-forms {
    display: flex;
  }
}

.form-enter {
  max-width: 500px;
}

.form-convert {
  margin: 0 auto;
  max-width: 300px;
  height: 300px;
}

.form-convert__container-from-to {
  display: flex;
  justify-content: space-around;
}

.form-convert__container-select {
  width: 100px;
}

.form-convert__container-result-convert {
  min-height: 45px;
}

.form-enter__base-symbols,
.form-convert__base-symbols {
  background-color: #232323;
  color: white;
}

.amount-converted-color {
  color: #39ff14;
}

.form-enter__button-enter {
  margin-top: 30px;
}

/* Container rates */

.container-rates {
  max-width: 500px;
}
@media (min-width: 688px) {
  .container-rates {
    max-width: initial;
    display: flex;
    justify-content: space-around;
  }
}

.container-rates__column-rates {
  margin: 0 0 50px 0;
}
@media (min-width: 688px) {
  .container-rates__column-rates {
    margin: 0;
  }
}

.container-rates__rate {
  color: #39ff14;
}
