.form-enter{
    max-width: 500px;
}

.button-enter{
    margin-top: 30px;
}

.container-rates{
    max-width: 500px;
}
@media (min-width: 688px) {
    .container-rates{
        max-width: initial;
        display: flex;
        justify-content: center;
        gap: 100px;
    }
  }
  @media (min-width: 1024px) {
    .container-rates{
        gap: 200px;
    }
  }